*{
    box-sizing: border-box;
}
body{
    display: block;
    max-width: 320px;
    background-image: url(../src/undraw.svg);
    /* margin: 1rem 0; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: inherit;
    width: 22rem;
}
.container{
    position: relative;
    width: 43.75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.caixa-secundaria{
    background: #e0e0e0f5;
    box-shadow: 31px 31px 64px #9f9f9f, -31px -31px 64px #ffffff;
    border-radius: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px; */
    position: absolute;
    width: 323px;
    /* height: 249px; */
    left: 1rem;
    top: 1rem;
    right: 1rem;
}
/* section{
} */
div, ul{
    padding: 0.9rem;
}
label{
    text-transform: uppercase;
    color: darkgoldenrod;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input{
    border-bottom-color: sandybrown;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    background-color: #f0f8ff00;
    width: 3rem;
    color: #d3893f;
    font-weight: bold;
}
#caixa-selecao{
    border-color: #f4a46000;
    background-color: #f0f90000;
    color: #bc860b;
    border-block-end-color: inherit;
}
.botao{
    border-color: sandybrown;
    background-color: sandybrown;
    color: #fff;
}
li{
    color: #ca893f;
    font-weight: bolder;
}