*{
    box-sizing: border-box;
}
body{
    display: block;
    max-width: 320px;
    background-image: url(../src/undraw.svg);
    margin: 1rem 0;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 22rem;
}
.container{
    position: relative;
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.caixa-secundaria{

    background-color: #ffffffd8;
    border-radius: 3.5rem;
}
/* section{
} */
div, ul{
    padding: 0.9rem;
}
label{
    text-transform: uppercase;
    color: darkgoldenrod;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input{
    border-bottom-color: sandybrown;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    background-color: #f0f8ff00;
    width: 3rem;
    color: #d3893f;
    font-weight: bold;
}
#caixa-selecao{
    border-color: #f4a46000;
    background-color: #f0f90000;
    color: #bc860b;
    border-block-end-color: inherit;
}
.botao{
    border-color: sandybrown;
    background-color: sandybrown;
    color: #fff;
}
li{
    color: #ca893f;
    font-weight: bolder;
}